nav {
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 1;
    background-color: #4056A1;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

nav span {
    font-family: 'Bungee', sans-serif;
}

.welcome {
    display: flex;
}

.welcome i {
    display: block;
}

.title {
    top: 1em;
    left: 5%;
}

.welcome {
    top: 1em;
    right: 5%;
    font-family: 'Source Sans Pro', sans-serif;
}

.Write {
    padding-right: 5px;
}

.fa-arrow-circle-down:hover {
    color: orange;
    transition: transform 0.8s;
    transform: translate(0px, 15px);
}

.hide {
    opacity: 0;
    visibility: hidden;
}